.heading {
    display: flex;
    align-items: center;
    margin: 27px 0 27px 55px;
}

.logo {
    display: grid;
    align-items: center;
    justify-items: center;
}

.sunPic {
    width: 90px;
    grid-row: 1;
    grid-column: 1;
}
.picture {
    width: 45px;
    /* transform: rotate(29deg); */
    grid-row: 1;
    grid-column: 1;
    transform: translateX(3px);
}

.heading h1 {
    font-size: 32px;
    margin: 0 27px;
}

@media (max-width: 600px) {
    .heading {
        margin: 27px 0 27px 20px;
    }
}