.navWrapper {
    display: flex;
    flex-shrink: 4;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;
    width: calc((100vw - 332px)/2);
}
.navWrapperNoLanding {
    display: flex;
    flex-shrink: 4;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8px;

    grid-column: 2 / span 1;
    justify-self: flex-end;
    width: clamp(402px, calc((100vw - 332px)/2), calc((100vw - 332px)/2));

}

nav.noLandingNav {
    display: grid;
    grid-template-columns: auto 1fr;
}

.navIconWrapper {
    grid-row: 1 / span 1;
    display: flex;
    max-width: 188px;
    column-gap: 34px;
    padding: 17px 0 0 23px;

}
div.noDisplay {
    display:none;
}

.noLandingNavIcon {
    width: 34px;
}

.navIconWrapper button {
    background: none;
	/* color: inherit; */
	border: none;
	/* padding: 0; */
	font: inherit;
	cursor: pointer;
	/* outline: inherit; */
    padding: 0;
    anchor-name: --lang-selector;
    
}

a.navElement {
    border-radius: 30px;
    margin: 10px 5px 5px 5px;
    padding: 2px 10px 2px 10px;
    font-size: clamp(20px,1.8vw,30px);
    text-decoration: none;
    color: black;
}

@media (width > 1000px) {  /*ESTO ES SOLO PARA EVITAR LOS EFECTOS EN EL NAV CUANDO ACHICA*/
    .navElement:hover {
        /* background-color: black; */
        background-color: rgb(240, 218, 132, 0.8);
        color: black;
        border-radius: 30px;
        box-shadow: 5px -5px 15px lightgrey;
        /* box-shadow: 5px 5px 5px lightgrey; */
        transition: 0.5s;
        transform: translate(0,5px);
        cursor: pointer;
    }
}
@media all and (max-width: 600px) {
    .navWrapper {
        margin-top: 14vh;
        flex-direction: column;
        align-items: end;
        width: auto;
    }
    .navWrapperNoLanding {
        display:none;
    }

     a.navElement {
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }
    a.navElement:hover {
        color: rgb(240, 218, 132, 1);
    }
    .navWrapperNoLanding a {
        color: black;
        text-decoration: none;
        transition: 0.5s;
}
}