.landingHeader {
    grid-area: header;
    display: grid;
    width: auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left center right";

    scroll-snap-align: start;

    animation: entrada linear reverse;
    animation-timeline: view();
    animation-range-start: exit;
    animation-range-end: cover;
}

.landingHeader p {
    z-index: 1;
}
.left {
    grid-area: left;
    display: grid;
    background-color: white;
    color: black;
    font-size: clamp(18px,2.2vw,25px);
    justify-items: center;
    align-items: center;
    

}
.center {
    grid-area: center;
    display: grid;
    justify-items: center;
    align-items: center;
}
.right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.greeting {
    display: grid;
    justify-items: center;
    grid-template-rows: auto 40px;
}

#pic {
        max-width:332px;
        object-fit: cover;

}
#jobs {
    text-align: center;
}

@media all and (max-width: 600px) {
    header.landingHeader {
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr;
        animation: none;
    }
    .left {
        grid-row: 1 / span 1;
        grid-column: 1 /span 1;
        min-width: 150px;
    }
    .center {
        grid-column: 2 / span 2;

    }
    .right {
        grid-column: 2 / span 2;
        background: none;
    }
    #pic {
        object-fit: cover;
        height: 65vh;
        width: 100%;
    }
}

.tom {
    grid-row: 2;
    grid-column: 1;
    background-image: url("../../assets/yellow stripe.png");
    background-size: cover;
    background-position: center;
    padding: 0 40px;
    margin: 0 -40px;
}
