.aboutMain {
    grid-area: main;
}
.aboutMain p {
    animation: none;
}

.bio {
    font-size: 24px;
    margin: -30px 0 0 55px;
}
.bioPicContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px;
    align-items: center;
    @starting-style {
        opacity: 0.5;
    }
}
.bioPicContainer:has(p:hover) * {
    opacity: 1;
    transition: 0.5s;

}

@media (max-width: 1200px) {
    .bioPicContainer {
        grid-template-rows: 350px;
    }
}
@media (max-width:800px) {
    .bioPicContainer {
        grid-template-rows: 450px;
    }
}
@media (max-width: 600px) {
    .heading {
        margin: 27px 0 36px 20px;

    }
    .bio {
        margin: 0 20px;
    }
    .heading h1 {
        font-size: 28px;
        margin: 0 15px;
    }
    .bioPics {
        display:none;
    }
    .bioPicContainer {
        grid-template-rows: 200px;
    }
    .bioPicContainer:not(:hover) *{
        opacity: 1;
    }
}

.bioPicContainer p {
    opacity: 0.5;
    font-size: clamp(14px,3vw,24px);
    transition: 0.5s;
}
.bioPics {
    opacity: 0;
    transition: 0.5s;
    animation: none;
    object-fit: contain;
    margin: 0 0 0 40px;
    width: clamp(250px,30vw ,350px);
    grid-column: 2;
}


.bioPic1 {
    object-position: 0px 30px;
}
.bioPic4 {
    object-position: 0px 85px;
}
.bioPic6 {
    object-position: 0px 60px;
}


