@media all {
    * {
        margin: 0;
        padding: 0px;
        font-family: Futura,Trebuchet MS,Arial,sans-serif;
        animation: entrada 0.75s;
    }

    @keyframes entrada {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes salida {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    root {
        display: grid;
        width: 100svw;
        height: 100dvh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "header" "main" "footer";
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        scrollbar-gutter: stable;
    }

    header {
        grid-area: header;
        display: grid;
        width: auto;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left center right";

        scroll-snap-align: start;

        animation: entrada linear reverse;

        animation-timeline: view();
        animation-range-start: exit;
        animation-range-end: cover;
    }
    .left {
        grid-area: left;
        display: grid;
        background-color: white;
        color: black;
        font-size: clamp(18px,2.2vw,25px);
        justify-items: center;
        align-items: center;

        }

    .greeting {
        display: grid;
        justify-items: center;
    }

    #jobs {
        text-align: center;
    }

    .center {
        grid-area: center;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    #pic {
        max-width:332px;
        object-fit: cover;

    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
    }


    nav {
        display: flex;
        flex-shrink: 4;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 8px;
    }

    .nav {
        border-radius: 30px;
    }

    a.nav {
        margin: 10px 5px 5px 5px;
        padding: 2px 10px 2px 10px;
        font-size: clamp(20px,1.8vw,30px);
    }

    a {
        color: black;
    }


    .lang {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 55px;
        width: 74px;
        justify-items: center;
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .english {
        display:grid;
        justify-items: center;
        grid-column: 1;
        grid-row: 1 2;
    }


    .spanish {
        display:grid;
        justify-items: center;
        grid-column: 2;
        grid-row: 1 2;
    }

    .eng {
        grid-column: 1;
        grid-row: 1 / 2;
        font-size: 18px;
    }

    .esp {
        grid-column: 2 / span 1;
        font-size: 18px;
    }

    .off * {
        opacity: 0.5;
        transition: 0.25s;
    }

    .on * {
        opacity: 1;
        transition: 0.25s;
    }


    main {
        display: flex;
        flex-direction: column;
        height: 478px;
        justify-content: space-around;
        align-items: center;
        background-color: black;

        color: hsl(0, 0%, 100%);
        scroll-snap-align: start;

    }


    .arrow {
        width: 50px;
    }

    .arrow:hover {
        cursor: pointer;
    }

    .lessons {
        /* margin-top: -20px; */
        height: 300px;
        font-size: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        animation: entrada linear forwards;
        animation-timeline: view();

        animation-range-start: entry;
        animation-range-end: entry;

    }


    #wapp {
        max-height: 55px;
    }

    footer {
        grid-area: footer;
        display: flex;
        justify-content: space-between;

        height: 478px;
        background-color: white;
        scroll-snap-align: start;

        animation: entrada linear;

        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: entry;


    }

    .login {

        margin: 0 0 2vw 2vw;
        border-radius: 60px;
        height: 65px;
        aspect-ratio: 1;
        border: 0px;
        background-color: black;
        color: white;
        align-self: flex-end;
        margin-right: auto;

        

    }

    .login:hover {
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
    .scrollUp {
        position: fixed;
        display: none;
        left: 50%;
        right: 50%;
        bottom: 40px;
        transform: rotate(180deg) translate(50%, 0%);
        
        z-index: 100;
        aspect-ratio: 1;
        height: 65px;
        
        filter: grayscale();

    }

    .scrollUp:hover {
        opacity: 0.8;
        filter: none;
        transition: 0.5s;
        cursor: pointer;
    }

    .visible {
        display: block;
    }

    .copyright {
        align-self: flex-end;
        writing-mode: vertical-rl;
        margin: 0 2px 2px 0;
        font-style: italic;

    }



    .fotoFooterContainer {

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(100px,auto);
        overflow: hidden;

    }

    .topWhite {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: 1 / span 1;
        background-color: white;
        z-index: 1;
    }
    .bottomBlack {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column: 1 / span 1;
        background-color: black;
        z-index: 1;
    }

    .fotoFooter {
        grid-row: 1 / span 2;
        grid-column: 1;
        max-height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        clip-path: polygon(0% 30%, 68% 0%, 100% 0%, 100% 68%, 30% 100%, 0% 100%);
        z-index: 2;


    }

    .block {
        width: 70vw;
    }
}

@media (min-width: 600px) {
    .off:hover * {
        opacity: 1;
        transition: 0.5s;
        cursor: pointer;
    }
}

.eng-pic {
    grid-row: 2 / span 1;
    max-height: 30px;
}


.esp-pic {
    grid-row-start: 2;
    grid-column-start: 2;
    max-height: 30px;
  }

 /*ESTO ES SOLO PARA EVITAR LOS EFECTOS EN EL NAV CUANDO ACHICA*/
@media (width > 1000px) {
    .nav:hover {
        background-color: black;
        color: white;
        border-radius: 30px;
        box-shadow: 5px 5px 5px lightgrey;
        transition: 0.5s;
        margin-top:13px;
        /* animation: jump 0.2s  ease-out forwards; */
        cursor: pointer;
    }
}
@keyframes jump {
    0%{}
    50%{margin-top:15px;}
    100%{}
}



.lang_off {
    opacity: 0;
    animation: salida 0.25s linear;
}

.lang_on {
    opacity: 1;
    animation: entrada 0.25s linear;
}

@media (min-width: 600px) {
    #wapp:hover {
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
}

@media all and (max-width: 600px) {

        header {
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 1fr;
        animation: none;
    }

    nav {
        margin-top: 14vh;
        flex-direction: column;
        align-items: end;
    }
    #pic {
        object-fit: cover;
        height: 65vh;
        width: 100%;
    }

    .left {
        grid-row: 1 / span 1;
        grid-column: 1 /span 1;
        min-width: 150px;

    }
    .center {
        grid-column: 2 / span 2;

    }
    .right {
        grid-column: 2 / span 2;
        background: none;
    }

    a.nav {
        color: white;
    }
    .lang p {
        color: white;
    }
    main {
        height: 65vh;
    }


    .arrow {
        height: 10vh;
        width: auto;
    }

    .lessons {
        font-size: 4.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #want,#lesson {
        margin: 0;
    }
    #reachMe {
        text-align: center;


    }
    #wapp {
    max-height: none;
    padding: 0;

    width: auto;
    height: 9vh;



    transition: 0.5s;

    animation: entrada linear forwards;
    animation-timeline: view();
    animation-range-start: cover 50px;
    animation-range-end: 200px;
    }

    footer {
         scroll-snap-align: end;

    }
}
