/* General purpose */
@keyframes entrada {
    from { opacity: 0 }
    to { opacity: 1 }
}
@keyframes salida {
    from { opacity: 1 }
    to { opacity: 0 }
}

.animated {
    /* opacity: 1;
    transition: 0.75s; */
    animation: entrada 0.75s;
    /* @starting-style {
        opacity: 0;
    } */
}

* {
    margin: 0;
    padding: 0px;
    /* animation: entrada 0.75s; */
}

/* Landing page (#root) */
.landingContainer {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header" "main" "footer";
    /* scrollbar-gutter: stable; */
    /* width: 100svw; */
    /* scroll-snap-type: y proximity; */
    /* overflow-y: scroll; */
    /* animation: entrada 1s; */
    }

/* About page */
.aboutContainer {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
    /* animation: entrada 1s; */
    /* animation: none; */
    /* background-color: #f5f5f7; */

}

/* Media page */

.mediaContainer {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
}

/* Work page */

.workContainer {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
}
