@keyframes entrada {
    from { opacity: 0 }
    to { opacity: 1 }
}
@keyframes salida {
    from { opacity: 1 }
    to { opacity: 0 }
}

* {
    margin: 0;
    padding: 0px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    animation: entrada 0.75s;
}

#root {
    display: grid;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header" "main" "footer";
    scrollbar-gutter: stable;
    /* width: 100svw; */
    /* scroll-snap-type: y proximity; */
    /* overflow-y: scroll; */
    }



