.workMain {
    grid-area: main;
}

.faq {
    margin: 27px 55px 0 55px;
}

.QA > h2 {
    font-size: 28px;
    margin: 0 0 10px 0;
}
.QA > p {
    font-size: 24px;
    margin: 0 0 30px 0;
}

@media (max-width: 600px) {
    .heading {
        margin: 27px 0 36px 20px;
    }
    .faq {
        margin: 27px 20px 0 20px;
    }
}
